<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>posts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar *ngIf='valorDaBarra < 1' color="primary" [value]='valorDaBarra'></ion-progress-bar>
  <ion-list >
  </ion-list>
  <ion-grid>
    <ion-row *ngFor="let post of postsPage">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ post.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ post.body }}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" [routerLink]="['/adicionar-posts']" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
